{% extends "base.html.twig" %}

{% block stylesheets %}
    <style>
        @font-face {
            font-family: 'Roboto';
            src: url('assets/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf');
        }
        body {
            margin: 0;
            padding:0;
            font-family: "Roboto", sans-serif;
        }
        #container {
            width: 1540px;
            height: 864px;
            padding: 5px;
        }
        .color-club {
            background-color: #ff9a2a;
        }
        .color-halle {
            background-color: white;
        }
        .color-kneipe {
            background-color: #00ffff;
        }
        .color-biergarten {
            background-color: #009dda;
        }
        .color-tanzraum {
            background-color: #ffff00;
        }
        .color-studio {
            background-color: #ff00c0;
        }
        .color-raum4 {
            background-color: #66b32e;
        }
        table {
            width: 100%;
            border-spacing: 0;
        }
        tr {
        }
        th {
            font-size: 31pt;
            background-color: black;
            color: white;
            text-align: left;
            height: 68px;
            padding-left: 20px;
        }
        td {
            font-size: 32pt;
            padding-left: 20px;
            font-weight: 800;
        }
        th.event-date {

        }
        th.event-title {


        }
        th.event-location {
        }
        th.event-time {
        }
        td.event-date {
        }
        td.event-title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 960px;
        }
        .event-location {
        }
        .event-time {
        }

        td {
            border-bottom: 2px solid #000;
            height: 89px;
        }
        .copy-huge {
            font-size: 74pt;
            letter-spacing: 1px;
        }
        .copy-big {
            font-size: 32pt;
            padding-left: 13px;
        }
        .future {
            font-weight: 200;
        }
        .def {

        }
        .header {
            padding-left: 76px;
            padding-top: 38px;
        }
        td.boarding {
            padding: 0;
            text-align: right;
            vertical-align: middle;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="container">
        <table>
            <tr>
                <th colspan="5" class="header">
                    <span class="copy-huge">zakk Veranstaltungen</span>
                    <span class="copy-big">- folge den farbigen Streifen</span>
                </th>
            </tr>
            <tr>
                <th></th>
                <th class="event-date">Datum</th>
                <th class="event-title">Veranstaltung</th>
                <th class="event-location">Ort</th>
                <th class="event-time">Einlass</th>
            </tr>
            {% for date in dates %}
                {% set myDateStr = date.date|date('Y-m-d') %}
                {% set todayStr = "now"|date('Y-m-d') %}
                {% set status = myDateStr > todayStr ? 'future' : (myDateStr == todayStr ? 'today' : 'past') %}
                <tr class="def color-{{ date.identifier }}">
                    <td class="boarding">
                        {% if status == "today" %}
                            <svg width="40" height="90" viewBox="0 0 40 90" xmlns="http://www.w3.org/2000/svg">
                                <!--<rect height="120" width="120" fill="#ff00ff"></rect>-->
                                <circle cx="20" cy="30" r="12" fill="green">
                                    <animate attributeName="opacity" values="1;0;1" dur="1.5s" repeatCount="indefinite" begin="0s" />
                                </circle>
                                <circle cx="20" cy="60" r="12" fill="green">
                                    <animate attributeName="opacity" values="0;1;0" dur="1.5s" repeatCount="indefinite" begin="0s" />
                                </circle>
                            </svg>
                        {% endif %}
                    </td>
                    <td class="event-date {{ status }}">
                        {{ date.date|format_date(pattern:"dd.MM.") }}
                    </td>
                    <td class="event-title {{ status }}">
                        {{ date.title }}
                    </td>
                    <td class="event-location {{ status }}">
                        {{ date.location }}
                    </td>
                    <td class="event-time {{ status }}">
                        {{ date.time }} Uhr
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}